{% extends 'base.html' %}
{%load crispy_forms_tags %} 
{% load static %}

{% block body %}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        {% include "shared/messages.html" %}
        <h4 class="card-title">Update Project Plan</h4>
        <p class="card-description">
            Update your Projects Plan
        </p>
        <form class="forms-sample" method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
          <button type="submit" class="btn btn-primary mr-2 form-control">Update Project Plan</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}