{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        {% include "shared/messages.html" %}
        <h4 class="card-title">Transection Data</h4>
        <p class="card-description">
          Your <code>.Transection Data</code>
        </p>
        <div class="table-responsive pt-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  Receiver
                </th>
                <th>
                  Account Number
                </th>
                <th>
                  Amount
                </th>
                <th>
                  Note
                </th>
                <th>
                  Date
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              {% for data in transection_data %}
              <tr>
                <td>
                  {{forloop.counter}}
                </td>
                <td>
                  {{data.receive_user}}
                </td>
                <td>
                    {{data.account_number}}
                </td>
                <td>
                    {{data.amount}}
                  </td>
                <td>
                  {{data.note|slice:30}}...
                </td>
                <td>
                    {{data.transection_date|date:"d F Y"}}
                </td>
                <td>
                  <a href="" class="badge badge-danger">Delete</a>
                  <a href="" class="badge badge-success" data-toggle="modal"
                    data-target="#exampleModalCenter{{ data.id }}">View</a>

                    <div class="modal fade" id="exampleModalCenter{{ data.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle{{ data.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalCenterTitle{{ data.id }}">Transaction Details</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                      
                            <div class="modal-body">
                      
                              <div class="card border p-3 shadow-sm">
                                <div class="mb-2">
                                  <strong class="text-dark">Sender:</strong> {{ data.send_user }}
                                </div>
                      
                                <div class="mb-2">
                                  <strong class="text-dark">Account Number:</strong> {{ data.send_user.user_profile.account_number }}
                                </div>
                      
                                <div class="mb-2">
                                  <strong class="text-dark">Amount:</strong> ৳ {{ data.amount }}
                                </div>
                      
                                <div class="mb-2">
                                  <strong class="text-dark">Note:</strong>
                                  <p class="mb-0">{{ data.note|linebreaks }}</p>
                                </div>
                      
                                <div class="mb-2">
                                  <strong class="text-dark">Date:</strong> {{ data.transection_date|date:"d F Y" }}
                                </div>
                              </div>
                      
                            </div>
                      
                          </div>
                        </div>
                      </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">DO you want to delete it</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-danger">
            Are you sure, you want to delete this banks account!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <a id="delete-bank" class="btn btn-danger">Yes Delete It</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}